.commentInputField{
  display: flex;
  gap: 15px;
}

.commentInputField input{
  width: 100%;
  height: 80px;
  padding: .5rem;
}


.commentInputField button{
  width: 6rem;
}

.commentsWrap{
  margin-top: 20px;
  padding: 1rem;
}

.commentsWrap div{
  margin-bottom: 20px;
}