.container{
  width: 100%;
  height: 90px;
  background-color: #000;
}

.wrap{
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-family: 'Black Han Sans', sans-serif;
}

.menuWrap{
  display: flex;
}

.menuWrap li{
  margin-right: 30px;
  font-weight: 700;
}

.menuWrap li:hover{
  font-size: 1.05rem;
}