.registerWrap{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerContainer{
  width: 100%;
  max-width: 750px;
  background-color: rgb(202, 202, 202);
  padding: 2rem;
}

.registerForm{
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  padding-bottom: 1.5rem;
}

input[type='text'],
input[type='password'],
button{
  font-size: 22px;
  padding: .5rem;
  margin-top: .5rem;
  border-radius: 0.5rem;
  border: none;
}

label,
button{
  margin-top: 3rem;
}

button{
  padding: .5rem;
  font-size: 1rem;
}


.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.5rem;
  position: relative;
  bottom: -10px;
  display: flex;
  align-items: center;
}

.instructions > svg {
  margin-right: 0.25rem;
  font-size: large;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.toLogin > a {
  color: #666;
}
